<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>

    <main class='text-center'>
        <h1 class='text-center'>404 - Page Not Found</h1>
    </main>

<%- include('includes/end.ejs') %>
