<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
            <main class='text-center'>
                    This is checkout
            </main>
<%- include('../includes/end.ejs') %>