<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
            <main class='text-center'>
                    <h1>Nothing there</h1>
            </main>
<%- include('../includes/end.ejs') %>